@tailwind base;

@layer base {
    /* CSS Resets from Josh C */
    /* Allow percentage-based heights in the application */
    html,
    body {
        height: 100%;
    }
    /* Typographic tweaks!  Add accessible line-height. Improve text rendering */
    body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
    }
    /* Avoid text overflows */
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }
    /* Create a root stacking context */
    #root,
    #__next {
        isolation: isolate;
    }
    /* The CSS in this style tag is based off of Bear Blog's default CSS. */
    /* https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css */
    /* License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md */
    body {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
            Oxygen-Sans, Ubuntu, Cantarell, Open Sans, Helvetica Neue,
            sans-serif;
        margin: auto;
        padding: 20px;
        text-align: left;
        background-color: #fff;
        word-wrap: break-word;
        overflow-wrap: break-word;
        color: #444;
        font-size: 1.125em;
    }

    nav a {
        margin-right: 10px;
    }
    content {
        line-height: 1.6;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    code {
        padding: 2px 5px;
        background-color: #f2f2f2;
    }
    pre {
        padding: 1rem;
        margin: 1.6rem 0px;
    }
    pre > code {
        all: unset;
    }

    blockquote {
        border: 1px solid #999;
        color: #222;
        padding: 2px 0px 2px 20px;
        margin: 0px;
        font-style: italic;
    }

    /* My styles */
    h1 {
        @apply font-bold;
        @apply text-4xl;
    }
    h2 {
        @apply font-medium;
        @apply text-2xl;
        @apply mb-2;
        @apply mt-4;
        @apply decoration-2;
    }
    h3 {
        @apply text-lg;
        @apply mb-2;
        @apply mt-4;
    }
    p {
        @apply mb-6;
    }
    ul {
        @apply list-disc;
        @apply pl-8;
    }
    a {
        @apply text-blue-600 underline;
    }
}

@tailwind components;

@tailwind utilities;
