---
export interface Props {
    name: string;
    website: string; //url?
    email: string;
    phone: string;
}

const { name, website, email, phone } = Astro.props;
---

<section class="flex flex-col p-4 bg-white">
    <div class="flex flex-row items-baseline justify-between">
        <div class="font-sans text-4xl font-bold">{name}</div>
        <div>Email: {email}</div>
    </div>
    <div class="flex flex-row items-center justify-between">
        <div>{website}</div>
        <div>Mobile: {phone}</div>
    </div>
</section>
