---
export interface Props {
    name: string;
    website: string; //url?
    email: string;
    phone: string;
}

const { name, website, email, phone } = Astro.props;
---

<section class="flex flex-col gap-4 p-8 bg-white">
    <div class="font-sans text-4xl font-bold text-center">{name}</div>
    <!-- <div class="flex flex-row items-baseline justify-around">
        <div>{email} &bull; {website}</div>
    </div> -->
</section>
