---
import ResumeHeader from "../components/resume/ResumeHeader.astro";
---

<h1>Beep. Boop. Resume coming soon</h1>

<ResumeHeader
    website="athulsuresh.com"
    name="Athul Suresh"
    email="mail@athulsuresh.com"
    phone="+91-8547314050"
/>
