---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
    content: {
        title: string;
        description: string;
        pubDate?: string;
        updatedDate?: string;
    };
}

const {
    content: { title, description, pubDate, updatedDate },
} = Astro.props;
---

<html>
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body class="max-w-prose">
        <Header />
        <main>
            <article>
                {
                    pubDate && (
                        <time class="text-base text-slate-500 bg-neutral-100 rounded-md p-1">
                            {pubDate}
                        </time>
                    )
                }
                <h1 class="title mb-2">{title}</h1>
                <hr class="mb-8" />
                <slot />
            </article>
        </main>
        <Footer />
    </body>
</html>
